/* General styles for the header */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff; /* Change to your desired background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #fff;
  background-color: orangered;
}

.cart-cont {
  text-decoration: none;
  margin-right: 8px;
  color: #f6fcf6;
  display: flex;
  align-items: center;
}
/* Styling for the website logo */
.website-logo {
  font-size: 25px; /* Adjust the size as needed */
  color: #f6fcf6; /* Change to your desired color */
}

.main-heading {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}

.logo-cont {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  background-color: transparent;
  gap: 10px;
  align-items: center;
}

/* Styles for the navigation menu */
.nav-bar-large-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Styles for the menu items */
.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 5px;
}

.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  font-size: 20px !important;
}

.nav-menu-mobile {
  display: none;
}

/* Styling for the cart icon */
.cart-img {
  margin-right: 5px; /* Space between cart icon and text */
}

/* Styles for the logout button */
.logout-desktop-btn {
  background-color: transparent; /* Change to your desired color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px !important;
}

/* Styles for mobile navigation */
.nav-bar-mobile-logo-container {
  display: none; /* Initially hidden for desktop */
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .nav-bar-large-container {
    display: none; /* Hide large nav on mobile */
  }

  .nav-menu-mobile {
    display: block; /* Show mobile nav */
    background-color: #fff; /* Change to your desired background color */
    padding: 10px;
    position: absolute; /* Position relative to the navbar */
    width: 100%; /* Full width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for dropdown */
    z-index: 1000;
    /* Ensure it appears on top */
  }

  .nav-menu-list-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }

  .nav-menu-item-mobile {
    margin: 10px 0; /* Space between items */
  }

  .nav-link-mobile {
    color: #333; /* Change to your desired link color */
    text-decoration: none;
    font-size: 18px; /* Change size as needed */
  }
}
.nav-bar-large-container {
  text-decoration: none;
}

