.location-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.location-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    justify-content: space-between;
}

.heading {
    font-size: 8px;
    font-weight: 500;
    font-family: sans-serif;
    color: black;
    text-align: center;
    padding: 0px;
   
}

/* .down-arrow {
} */

.dropdown {
    position: absolute;
    top: 100%;
    
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 40%;
    font-size: 8px;
    
}
.price-range{
    overflow-y: scroll;
    height: 60px;
    
}

.dropdown-item {
    
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black; 
    height: 22vh;

}

.top-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    text-align: center;
    
}

.down-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.location-container {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid black; 
    border-radius: 2px; 
    width:120px;
    height: 19px;
    
    
  
}
.location-input{
   
    font-size: 9px;
    width:80px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: 400;
}
.down-arrow{
    border: 1px solid black; 
    align-items: end;
    margin-right: 1px;
    height: 12px;
   
}
.button-cont{
    display: flex;
    justify-content: center;

}
.search-button {
    height: 50px;
    width:100px;
    font-size: 12px;
    font-weight: bold;
    background-color: darkmagenta;
    
}

.rent-container{
    display: flex;
    justify-content: center;
    border: 1px solid black; 
    flex-direction: column;
    height: 20vw;
   
}
.top-container{
    display: flex;
    justify-content: center;
    flex-direction: column   
    
}
.rent-head{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.description{
    text-align: center;
    font-size: 8px;
    margin-top: 1px;
    font-weight: 300;
    color: rgb(15, 14, 13);;
}
.rent-cont{
    margin-top: 0px;
    padding-top: 0px;
}
.search-button{
    margin: 0 10px; /* Space between buttons */
  /* Padding inside buttons */
    font-size: 10px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    border: none;
    border-radius: 5px;
    height: 22px; 
    text-align: center;
    background-color: orangered;
    width:60px;
    color: #f0f0f0;
    margin-top: 3px;

}
.search {
    display: flex;
    justify-content: center;
   
}